<a href="<%= today %>" class="btn btn-mini">Today</a>
<div class="btn-group">
  <a class="btn btn-mini previous" href="<%= prevLink %>">&lt;</a>
  <span class="btn btn-mini cal-header-date">
    <%= thisT %>
  </span>
  <a class="btn btn-mini next" href="<%= nextLink %>">&gt;</a>
</div>
<div class="btn btn-mini toggle-multiday" rel='tooltip' title='Toggle multiday event visibility'>
  <i class='icon-eye-close'></i>
</div>
<div class="btn-group pull-right">
  <a class="btn btn-mini week" href="<%= otherLink %>">Week</a>
  <a class="btn btn-mini month" href="<%= otherLink %>">Month</a>
</div>