= render :partial => "header"

.container.admin
  %h1 Events
  %h5 All Events
  %table
    %tbody
      %tr
        %th Name
        %th Location
        %th Room
        %th Date
        %th Time
        %th Organization
        %th Categories
        %th Description
      -@events.each do |event|
        %tr
          %td= event.name
          %td= event.location.name
          %td= event.room_number
          %td= event.start_at.strftime("%B %-d, %Y")
          %td= event.start_at.strftime("%l:%M %p")
          %td= link_to event.organization.name, "/#organization/#{event.organization.id}"
          %td
            -event.categories.each do |cat|
              =link_to cat.name, "/#categories/#{cat.id}"
          %td= event.description