<tr class=<%= sub.subscribeable_type.toLowerCase() %>>
  <td class="name"><a href="<%= url %>"><%= sub.subscribeable.name %></a></td>
  <td class="type"><%= sub.subscribeable_type %></td>
  <td>
    <button data-id=<%= sub.subscribeable.id %> data-type=<%= sub.subscribeable_type %> class="btn btn-mini btn-danger unfollow">
      Unfollow
    </button>
  </td>
</tr>