<div class="dashboard-group-header">
  <h3><%= name %></h4>
</div>

<form class="dashboard-group-form">
  <label name="name">Group Name</label>
  <input name="name" type="text" value="<%= name %>"></input>
  <label name="description">Group Description</label>
  <textarea name="description"><%= description %></textarea>
  <input type="submit" value="Update Group"></input>
</form>
<br/>

<h3>Subscribers</h3>
<table class="table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Access</th>
  </tr>
  <% for( i = 0; i < users.length; i++ ) { %>
    <% var user = users[i] %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td></td>
    </tr>
  <% } %>
</table>