<div class="time"><%= startTime %> -<%= endTime %></div>
<div class="details">
  <div class="feed-left"></div>
  <div class="organization"><%= event.get("organization") %></div>
  <div class="name"><%= event.get("name") %></div>
  <div class="location"><%= event.get("location") %></div>

</div>