<div class="time"><%= start_time %> -<%= end_time %></div>
<div class="details">
  <div class="feed-left"></div>
  <div class="organization"><%= event.organization %></div>
  <div class="name"><%= event.name %></div>
  <div class="location"><%= event.location %></div>

</div>