<% items = ["events", "groups", "users", "settings"]; %>
<% for( i = 0; i < items.length; i++ ) { %>
  <a href="#dashboard/<%= model.get("slug") %>/<%= items[i] %>">
    <li data-type="<%= items[i] %>" class="<%= type == items[i] ? 'selected' : '' %>">
      <%= Gandalf.capitalizeString(items[i]) %>
    </li>
  </a>
<% } %>