<div class='gandalf-popover-head' style='background-color: <%= color %>;'>
  <strong>Editing <%= event.get("name") %></strong>
  <span class="close">×</span>
</div>
<div class="gandalf-popover-body new-event">
  <form id='new-event-form' action="#">
    <!-- Names are Ruby-style strings intentionally! Don't change! -->
    <table>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" name="name" maxlength="30" placeholder="1 hour of awesomeness" value=<%= event.get("name") %>/>
        </td>
      </tr>
      <tr>
        <td>at</td>
        <td>
          <input type="text" name="location" maxlength="30" placeholder="Camp awesome" value=<%= event.get("location") %>/>
        </td>
      </tr>
      <tr>
        <td>from </td>
        <td>
          <input type="datetime" name='start_at' placeholder='now' value=<%= event.get("start_at") %>/>
        </td>
      </tr>
      <tr>
        <td>to</td>
        <td>
          <input type="datetime" name='end_at' placeholder='forever' value=<%= event.get("end_at") %>/>
        </td>
      </tr>
      <tr>
        <td>
          Description
        </td>
        <td>
          <textarea name="description" id="" cols="30" rows="10" placeholder="This will be awesome TO THE MAX."><%= event.get("description") %></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value='Update!' class='btn btn-primary' />
        </td>
      </tr>
    </table>
  </form>
</div>