<div class='gandalf-popover-head' style='background-color: <%= color %>;'>
  Editing <%= event.get("name") %>
  <span class="close">×</span>
</div>
<div class="gandalf-popover-body new-event">
  <form id='edit-event-form' class='event-form' action="#">
    <!-- Names are Ruby-style strings intentionally! Don't change! -->
    <input type="hidden" name='organization_id' value=<%= event.get("organization_id") %> />
    <input type="hidden" name='event_id' value=<%= event.get("id") %> />
    <p>Name</p>
    <input type="text" name="name" maxlength="50" placeholder="1 hour of awesomeness" value='<%= event.get("name") %>' />
    <p>Place</p>
    <input type="text" name="location" maxlength="50" placeholder="Camp awesome" value='<%= event.get("location") %>' />
    <p>From</p>
    <input type="datetime" name='start_at_date' placeholder='now' value=<%= moment(event.get("start_at")).format('MM/DD/YYYY') %> />
    <div class="at">at</div>
    <input type="time" name='start_at_time' placeholder='12:01 a.m.' value=<%= moment(event.get("start_at")).format('HH:mm') %> />
    <p>To</p>
    <input type="datetime" name='end_at_date' placeholder='forever' value=<%= moment(event.get("end_at")).format('MM/DD/YYYY') %> />
    <div class="at">at</div>
    <input type="time" name='end_at_time' placeholder='12:01 a.m.' value=<%= moment(event.get("end_at")).format('HH:mm') %> />
    <p>Description</p>
    <textarea name="description" id="" cols="30" rows="10" placeholder="This will be awesome TO THE MAX."><%= event.get("description") %></textarea>
    <br/>
    <input type="submit" value='Update!' class='btn btn-primary' />
  </form>
</div>