<div class='gandalf-popover-head' style='background-color: <%= color %>;'>
  New <%= org.get("name") %> event
  <span class="close">×</span>
</div>
<div class="gandalf-popover-body new-event">
  <form id='new-event-form' class='event-form' action="#">
    <!-- Names are Ruby-style strings intentionally! Don't change! -->
    <input type="hidden" name='organization_id' value=<%= org.get("id") %> />
    <p>Name</p>
    <input type="text" name="name" maxlength="50" placeholder="1 hour of awesomeness" />
    <p>Place</p>
    <input type="text" name="location" maxlength="50" placeholder="Camp awesome" data-provide="typeahead" autocomplete="off" />
    <p>From</p>
    <input type="datetime" name='start_at_date' placeholder='now' value=<%= moment().format('MM/DD/YYYY') %> />
    <div class="at">at</div>
    <input type="time" name='start_at_time' placeholder='12:01 a.m.' value=<%= moment().format('HH:mm') %> />
    <p>To</p>
    <input type="datetime" name='end_at_date' placeholder='forever' value=<%= moment().add('h',1).format('MM/DD/YYYY') %> />
    <div class="at">at</div>
    <input type="time" name='end_at_time' placeholder='12:01 a.m.' value=<%= moment().add('h',1).format('HH:mm') %> />
    <p>Description</p>
    <textarea name="description" id="" cols="30" rows="10" placeholder="This will be awesome TO THE MAX."></textarea>
    <br/>
    <input type="submit" value='Go!' class='btn btn-primary' />
  </form>
</div>