<div class='gandalf-popover-head' style='background-color: <%= color %>;'>
  <strong><%= e.get("name") %></strong>
  <span class="close">×</span>
</div>
<div class="gandalf-popover-body show-event">
  <table>
    <tr>
      <td>Held by</td>
      <td>
        <a href="#organizations/<%= e.get("organization_id") %>">
          <%= e.get("organization") %>
        </a>
      </td>
    </tr>
    <tr>
      <% startAt = moment(e.get("start_at")); %>
      <% endAt = moment(e.get("end_at")); %>
      <% format = "ddd, MMM DD h:mm a" %>
      <td>When</td>
      <td>
      <% if(startAt.format("YYYY-MM-DD") == endAt.format("YYYY-MM-DD")) { %> 
        <%= startAt.format("dddd, MMMM Do") %><br/>
        <%= startAt.format("h:mm a") %> - <%= endAt.format("h:mm a") %>
      <% } else { %>
        <%= startAt.format(format) %><br/>-
        <%= endAt.format(format) %>
      <% } %>
      </td>
    </tr>
    <tr>
      <td>Where</td>
      <td><%= e.get("location") %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= e.get("address") %></td>
    </tr>
  </table>
  <p class="gandalf-popover-description"><%= e.get("description") %></p>
  <div id="map-canvas"></div>
</div>