<div class='gandalf-popover-head' style='background-color: <%= color %>;'>
  <%= e.get("name") %>
  <i class="icon-question-sign why"></i>
  <span class="close">×</span>
</div>
<div class="gandalf-popover-body show-event">
  <table>
    <tr>
      <td>Held by</td>
      <td>
        <a href="#organizations/<%= e.get("organization_slug") %>">
          <%= e.get("organization") %>
        </a>
      </td>
    </tr>
    <tr>
      <td>When</td>
      <% times = e.formatTimeRange() %>
      <td>
        <% if(times.sameDay) { %>
          <%= times.startString + ' - ' + times.endString %>
        <% } else { %>
          <%= times.startString %><br/>
          - <%= times.endString %>
        <% } %>
      </td>
    </tr>
    <tr>
      <td>Where</td>
      <td><%= e.get("location") %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= e.get("address") %></td>
    </tr>
  </table>
  <p class="gandalf-popover-description"><%= e.get("description") %></p>
  <div id="map-canvas"></div>
</div>
