<div class="cal-header">
  <div class="btn-toolbar">
    <a href="#calendar/today/month" class="btn">Today</a>
    <div class="btn-group" style="margin-right: 30px;">
      <% thisMonth = moment(startDate).day(6).date(1) %>
      <% prevMonth = moment(thisMonth).subtract('M', 1).format(Gandalf.displayFormat) %>
      <% nextMonth = moment(thisMonth).add('M', 1).format(Gandalf.displayFormat) %>
      <% if(moment().month() === thisMonth.month()) { %>
        <% weekDate = "today" %>
      <% } else { %>
        <% weekDate = moment(startDate).format(Gandalf.displayFormat) %>
      <% } %>
      <% headDisplayFormat = "MMMM YYYY" %>
      <a href=<%= "#calendar/"+prevMonth+"/month" %> class="btn">&lt;</a>
      <a href=<%= "#calendar/"+nextMonth+"/month" %> class="btn">&gt;</a>
    </div>
    <span class="cal-header-date" style="font-size: 14px;">
      <%= thisMonth.format(headDisplayFormat) %>
    </span>
    <div class="btn-group pull-right">
      <a href=<%= "#calendar/"+weekDate+"/week" %> class="btn">Week</a>
      <a class="btn disabled">Month</a>
    </div>
  </div>
  <table class="cal-header-days">
    <tr>
      <% formatString = "dddd"; %>
      <% for(i=0; i<7; i++) { %>
        <td>
          <div class="cal-day">
            <%= moment(startDate).add('d', i).format(formatString) %>
          </div>
        </td>
      <% } %>
    </tr>
  </table>

</div>
