<tr class='organization-event' data-id=<%= event.id %>>
  <td>
    <div class="image loading"></div>
  </td>
  <td>
    <div class="name"><%= event.name %></div>
    <div class="time"><%= startTime %></div>
    <div class="location"><%= event.location %></div>
  </td>
  <td>
    <div class="description"><%= event.description %></div>
  <td>
    <button>Edit</button>
  </td>
  <td>
    <button>Delete</button>
  </td>
</tr>