<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--><html xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
<head>
  <title>Yale Events</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="header-container">
      <div id="logo"><a href="/"></a></div>
      <% if current_user %>
        <div class="link"><a href="/#browse">Browse</a></div>
        <div class="link"><a href="/#calendar">Calendar</a></div>
        <div class="link"><a href="/#dashboard">Dashboard</a></div>
        <div class="link"><a href="/#about">About</a></div>
      <% end %>
      <div id="menu">
        <% if current_user %>
          <a href="#preferences"><%= current_user.name %></a>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/login">Login</a>
        <% end %>
      </div>
    </div>
    
  </div>

  <%= yield %>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC09xDhfZSSQwy2-P9x7LAyz7T-TLjNQwo&sensor=false">
</script>
</body>
</html>
