<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--><html xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
<head>
  <title>Yale Go</title>
  <link rel="icon" href="/assets/y_logo_200.png" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="header-container">
      <a href="/"><div class="link">
        <img id="logo" src="/assets/y_logo_200.png" alt="Yale Go" />
      </div></a>
      <% if current_user %>
        <a href="#browse">
          <div class="link">Browse</div>
        </a>
        <a href="#calendar">
          <div class="link">Calendar</div>
        </a>
        <a href="#dashboard">
          <div class="link">Dashboard</div>
        </a>
        <a href="#about">
          <div class="link">About</div>
        </a>
      <% end %>
      <div class="pull-right">
        <% if current_user %>
          <a href="/mail">
            <div class="link">Send Mail</div>
          </a>
          <a href="#preferences">
            <div class="link">
              <%= current_user.name %>
            </div>
          </a>
          <a href="/logout">
            <div class="link">Logout</div>
          </a>
        <% else %>
          <a href="/login">
            <div class="link">Login</div>
          </a>
        <% end %>
      </div>
    </div>
    
  </div>

  <%= yield %>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC09xDhfZSSQwy2-P9x7LAyz7T-TLjNQwo&sensor=false">
</script>
</body>
</html>
